<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class= "wrapperCreation">
        <h2>Update Product</h2>

        <div class="col-md-3 bg-light shadow rounded w-1 p-3 division" >
            <form (submit)="editProduct()">
                <div class="form-group start">
                    Name<br>
                    <span *ngIf="errors.name" class="text-danger">{{errors.name.message}}</span>
                    <input type="text" class="form-control" name="name" [(ngModel)]="product.name" #name = "ngModel" required minlength=3 maxlength=20 >
                    <span *ngIf = "!name.valid && name.errors.required" class = "text-danger">Name is Required</span>
                    <span *ngIf = "!name.valid && name.errors.minlength" class = "text-danger">Name should be atleast 3 characters</span>


                </div>
                <div class = "form-group ">
                    Qty <br>
                    <span *ngIf="errors.qty" class="text-danger">{{errors.qty.message}}</span>
                    <input type="number" class="form-control" name="qty" [(ngModel)]="product.qty" #qty = "ngModel" min = "0" required>
                    <span *ngIf = "product.qty < 0 || !qty.valid" class = "text-danger">Must have a quantity</span>
                </div>

                <div class = "form-group end">
                        Price <br>
                        <span *ngIf="errors.price" class="text-danger">{{errors.price.message}}</span>
                        <input type="number" class="form-control" name="price" [(ngModel)]="product.price" #price = "ngModel"  required>
                        <span *ngIf = "product.price < 0 || !price.valid" class = "text-danger">Must have a Price</span>
                </div>




            <button type="button" class="btn btn-warning shadow rounded mr-2" (click) = "reset()">RESET</button>
            <button  [disabled] = "!name.valid || product.qty < 0 || !qty.valid || product.price < 0 || !price.valid" type="submit" class="btn btn-primary shadow rounded">UPDATE</button>
            </form>

        </div>

</div>